.git/
.cargo/
.travis/
.travis.yml
*/.vagrant
3rdparty/downloads/
3rdparty/dpdk/
!3rdparty/dpdk/build/lib
build-container/
container/
debugging/
scripts/
patches/
test/
target/release/
!target/release/acl-distribnat
!target/release/acl-urlfilter-chacha
!target/release/vlanpop-acl
!target/release/macswap
tester/